$block-editor-color-primary: #5da4ef;
$block-editor-color-danger: #ef5350;
$block-editor-color-primary-dark: #4F94DD;
$block-editor-color-gradient-end: #e9f5ff;
$block-editor-color-shadow: rgba(#3d464e, .25);
$block-editor-color-light: #FFF;
$color-editor-color-light-medium: #F6F7F8;
$block-editor-color-light-dark: #EDEEF1; 
$block-editor-color-text: #3d464e;
$block-editor-color-text-medium-dark: #666;
$block-editor-color-text-medium: #8E929D;
$block-editor-form-input-border: #DDD;
$block-editor-form-input-border-radius: 4px;