$block-editor-color-primary: #5da4ef;
$block-editor-color-danger: #ef5350;
$block-editor-color-primary-dark: #4F94DD;
$block-editor-color-gradient-end: #e9f5ff;
$block-editor-color-shadow: rgba(53, 60, 67, .4);
$block-editor-color-light: #fff;
$color-editor-color-light-medium: #F8F9FA;
$block-editor-color-light-dark: #EDEEF1;
$block-editor-color-text: #3d464e;
$block-editor-color-text-medium-dark: #666;
$block-editor-color-text-medium: #8E929D;
$block-editor-form-input-border: #ddd;
$block-editor-form-input-border-radius: 4px;