$block-editor-color-primary: #42a5f5;
$block-editor-color-primary-dark: #2a99f4;
$block-editor-color-danger: #ef5350;
$block-editor-color-green: #40b771;
$block-editor-color-yellow-dark: #ffc400;
$block-editor-color-yellow-light: #FFF8E1;
$block-editor-color-gradient-end: #e9f5ff;
$block-editor-color-shadow: rgba(#3d464e, .25);
$block-editor-color-code-bg: #1e2128;
$block-editor-color-dark: #2a2e30;
$block-editor-color-light: #ffffff;
$color-editor-color-light-medium: #F5F7F9;
$block-editor-color-light-dark: #EDEEF1; 
$block-editor-color-text: #3d464e;
$block-editor-color-text-medium-dark: #6a7081;
$block-editor-color-text-medium: #8e929d;
$block-editor-form-input-border: #cbcdd4;
$block-editor-form-input-border-radius: 3px; 

// Width of editor wrapper
$editor-width: 42em;

// Breakpoints
$breakpoints: ( 
	sm: 600px,
	md: 900px,
	lg: 1200px,
	xl: 1600px 	
); 


// Font families 
$font-base: -apple-system, BlinkMacSystemFont, Arial, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: Georgia, Times New Roman, Times, Serif;
$font-monospace: Menlo, Monaco, Consolas, Courier New, monospace;

// Font weights 
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Modular scale

$modularscale: (
  base: 1em,
  ratio: 1.125 //$major-second 
); 

// Min and Max screen width
$minScreen: 49rem;
$maxScreen: 100rem; 


// Baseline
$line-height: 1.6;
$baseline: 1.6em / 7; 


// Font size map
$font: ( 
	min: 1em,
	max: 1.15em 
);

$h1: ( 
	min: (ms(5)), 
	max: (ms(6))
); 
$h2: ( 
	min: (ms(3)),
	max: (ms(4))
);
$h3: ( 
	min: (ms(2)),
	max: (ms(3))
);
$h4: ( 
	min: (ms(1)),
	max: (ms(2))
);
$h5: ( 
	min: (ms(0)),
	max: (ms(1))
);
$h6: ( 
	min: (ms(0)),
	max: (ms(0)) 
);